<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>후기 상세</title>
<link rel="stylesheet" href="/public/css/board/detail.css">
<script th:src="@{/public/js/board/detail.js}" defer="defer"></script>
</head>
<body>
<header th:insert="/NewHeader"></header>
<div id="wrapper">
	<main class="container-xl">
		<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" id="path">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item">
		    	<a href="/">홈</a>
		    </li>
		    <li class="breadcrumb-item">
		    	<a href="#">게시판</a>
		    </li>
		    <li class="breadcrumb-item" aria-current="page">
		    	<a href="/board/list/1" class="breadcrumb-item active">후기</a>
		    </li>
		  </ol>
		</nav>
		<h1 class="pb-4 d-flex justify-content-between align-items-center" 
		    style="border-bottom: 1px solid #e8e8e8;">
		    <span style="font-size: 35px;" th:text="${board.title}"></span>
	    </h1>	
		<div class="mt-3 d-flex">
			<div class="d-flex align-items-center">
				<i class="bi bi-eye" style="margin-right: 4px;"
				   data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="조회수">
				   <span th:text="${board.views}"></span>
				</i>
				<th:block th:if="${(session.loginUser?.user_id != null)}">
					<a style="margin-right: 4px; margin-left: 4px; padding: 8px;"
					   th:href="@{/board/prefer/{no}/{prefer}(no=${board.board_no}, prefer=${true})}" 
					   class="btn btn-outline-primary border-0 rounded-pill">
						<i th:classappend="${(board.prefer_active != null && board.prefer_active) ? 'bi-hand-thumbs-up-fill' : 'bi-hand-thumbs-up'}" class="bi "></i>				
						<span th:text="${board.good}"></span>
					</a> 
					<a style="padding: 8px;"
					   th:href="@{/board/prefer/{no}/{prefer}(no=${board.board_no}, prefer=${false})}"  
					   class="btn btn-outline-danger border-0 rounded-pill">
						<i th:classappend="${(board.prefer_active != null && !board.prefer_active) ? 'bi-hand-thumbs-down-fill' : 'bi-hand-thumbs-down'}" class="bi "></i>				
						<span th:text="${board.bad}"></span>
					</a>
				</th:block>
				<th:block th:unless="${(session.loginUser?.user_id != null)}">
					<a style="margin-right: 4px; margin-left: 4px; padding: 8px;"
					   class="btn btn-outline-primary border-0 rounded-pill">
						<i th:classappend="${(board.prefer_active != null && board.prefer_active) ? 'bi-hand-thumbs-up-fill' : 'bi-hand-thumbs-up'}" class="bi "></i>				
						<span th:text="${board.good}"></span>
					</a> 
					<a style="padding: 8px;"
					   class="btn btn-outline-danger border-0 rounded-pill">
						<i th:classappend="${(board.prefer_active != null && !board.prefer_active) ? 'bi-hand-thumbs-down-fill' : 'bi-hand-thumbs-down'}" class="bi "></i>				
						<span th:text="${board.bad}"></span>
					</a>
				</th:block>
			</div>
			<div class="ms-auto align-self-center">
				<span th:text="'등록일 : ' + ${#dates.format(board.post_time,'yyyy-MM-dd HH:mm:ss')}"></span>
			</div>
	  </div>
	  <div class="col-md mt-3 mb-5">
	    <div class="card mb-3">
	      <div class="row">
	       <div class="col-md-4">
	          <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel"
			       style="width: 100%; height: 100%;">
				  <div class="carousel-inner" style="width: 100%; height: 100%;">
				  	<th:block th:each="boardImg : ${board.boardImgs}">
				  		<div class="carousel-item active" style="width: 100%; height:100%;">
					      	<div class="mb-1" th:if="${boardImg != null}" style="width: 100%; height:100%;">
								<!-- Button trigger modal -->
								<button type="button" class="btn border-0" data-bs-toggle="modal"
									style="padding: 0; width: 100%; height:100%;" th:data-bs-target="'#boardImgModal' + ${boardImg.board_img_no}">
									<img th:src="@{/public/img/{fileName}(fileName=${boardImg.img_path})}" alt="후기 이미지" 
				  						 style="width: 100%; height:100%;" class="card-img card-img-right">
								</button>			
							</div>
				  		</div>
						<!-- Modal -->
						<div class="modal fade" style="opacity: 1"
							th:id="'boardImgModal' + ${boardImg.board_img_no}" >
						  <div class="modal-dialog modal-dialog-centered modal-lg">
						    <div class="modal-content" 
						    	 style="background-color: rgba(255,255,255,0)">
						      <div class="modal-body">
		   						<img th:src="@{/public/img/{fileName}(fileName=${boardImg.img_path})}" alt="후기 이미지"
		   							 width="760" class="card-img card-img-right"> 
						      </div>
						    </div>
						  </div>
						</div>							
				  	</th:block>
				  	<th:block th:if="${#lists.isEmpty(board.boardImgs)}">
			  			<!-- Button trigger modal -->
						<button type="button" class="btn border-0" data-bs-toggle="modal"
								style="padding: 0; width: 100%; height:100%;" data-bs-target="#boardImgModal">
							<img src="/img/NullImg.jpg" alt="후기 이미지" 
					  		     style="width: 100%; height:100%;" class="card-img card-img-right">
						</button>	
					 	<!-- Modal -->
						<div class="modal fade" style="opacity: 1"
							 id="boardImgModal" >
						  <div class="modal-dialog modal-dialog-centered modal-lg">
						    <div class="modal-content" 
						    	 style="background-color: rgba(255,255,255,0)">
						      <div class="modal-body">
		   						<img src="/img/NullImg.jpg" alt="후기 이미지"
		   							 width="760" class="card-img card-img-right"> 
						      </div>
						    </div>
						  </div>
						</div>	
				  	</th:block>
				  </div>
				  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    <span class="visually-hidden">Previous</span>
				  </button>
				  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="visually-hidden">Next</span>
				  </button>
				 </div>
	        </div>
	        <div class="col-md-8">
	          <div class="card-body">
	            <table class="table">
				  <tbody>
				    <tr>
				      <th class="bg-light align-middle">작성자</th>
				      <td class="align-middle" th:text="${board.user?.user_id}"></td>
				    </tr>
				    <tr>
				      <th class="bg-light align-middle">카테고리</th>
				      <th:block th:if="${board.category.category_id == '1'}">
						  <td class="align-middle">관광지</td> 
					  </th:block>
					  <th:block th:if="${board.category.category_id == '2'}">
						  <td class="align-middle">숙박</td> 
					  </th:block>
					  <th:block th:if="${board.category.category_id == '3'}">
						  <td class="align-middle">맛집</td> 
					  </th:block>
				    </tr>
				    <tr>
				      <th class="bg-light align-middle">장소명</th>
				      <td class="align-middle" th:text="${board.place_name}"></td>
				    </tr>
				    <tr>
				      <th class="bg-light align-middle">평점</th>
				      <td class="align-middle" th:text="${board.rating}"></td>
				    </tr>
				    <tr>
				      <th class="bg-light align-middle">내용</th>
				      <td class="align-middle" th:text="${board.contents}"></td>
				    </tr>
				  </tbody>
				</table>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="d-flex mb-5">
		<div th:if="${(session.loginUser?.user_id == board.user?.user_id) || (session.loginUser?.adminCk == 1)}" class="ms-auto">
			<a th:href="@{/board/update/{boardNo}(boardNo = ${board.board_no})}" class="btn btn-outline-info btn-lg" 
			   style="margin-right: 8px; padding: 12px 20px;">
				수정
			</a>
			<a href="/board/list/1" class="btn btn-outline-dark btn-lg" style="padding: 12px 20px;">목록</a>
		</div>
		<div th:unless="${(session.loginUser?.user_id == board.user?.user_id) || (session.loginUser?.adminCk == 1)}" class="ms-auto">
			<a href="/board/list/1" class="btn btn-outline-dark btn-lg" style="padding: 12px 20px;">목록</a>
		</div>
	  </div>
	  
	  <th:block th:if="${(param.writer != null && param.writer != '') && (#strings.equals(param.writer, session.loginUser?.user_id))}">
		<div class="accordion accordion-without-arrow" id="accordionFlushExample">
		  <div class="accordion-item ">
		    <h2 class="accordion-header " id="flush-headingOne">
		      	<button th:classappend="${(repl != 0) ? '' : 'collapsed'}" class="accordion-button " type="button" 
		      		    style="background-color: white;" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" 
		      		    aria-expanded="false" aria-controls="flush-collapseOne">	       
			            <span style="font-size: 35px;">나의 댓글 : <strong th:text="${repl}"></strong></span>
		        </button>
		    </h2>
		    <div id="flush-collapseOne" th:classappend="${(repl != 0) ? 'show' : ''}" class="accordion-collapse collapse " 
	    	 	 style="max-height: 1200px; overflow-y: scroll;" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
		      <div class="accordion-body pt-3">
		      	<div class="list-group sticky-top">
				 <div class="d-flex list-group-item bg-light">
				    <th:block th:if="${session.loginUser?.user_id != null}">
					    <th:block th:if="${param.writer != null && param.writer != ''}">
					       <a class="btn btn-lg btn-primary" th:href="@{./{boardNo}(boardNo=${board.board_no})}" style="padding: 12px 20px;">전체 댓글</a>
					    </th:block>
					    <th:block th:unless="${param.writer != null && param.writer != ''}">
					       <a class="btn btn-lg btn-primary" th:href="@{./{boardNo}(boardNo=${board.board_no}, writer=${session.loginUser?.user_id})}"
					       	  style="padding: 12px 20px;">나의 댓글</a>
					    </th:block>
					</th:block>
					<th:block th:unless="${session.loginUser?.user_id != null}">
					    <a class="btn btn-lg btn-primary" th:href="@{./{boardNo}(boardNo=${board.board_no})}"
					       style="padding: 12px 20px;">전체 댓글</a>
					</th:block>
					<th:block th:if="${repl != 0}">
					<div class="dropdown-center ms-auto">
					   <button type="button" class="btn btn-lg btn-dark dropdown-toggle" 
					   		   style="padding: 12px 20px;" data-bs-toggle="dropdown" aria-expanded="false">
					     필터
					   </button>
					   <ul class="dropdown-menu">
				        <li>
				        	<th:block th:if="${session.loginUser?.user_id != null}">
				        		<th:block th:if="${param.writer != null && param.writer != ''}">
						          	<a class="dropdown-item text-center ps-0 pe-0" th:href="@{./{boardNo}(boardNo=${board.board_no}, writer=${session.loginUser?.user_id}, sort=good, direct=desc)}">인기순</a>
				        		</th:block>
				        		<th:block th:unless="${param.writer != null && param.writer != ''}">
						          	<a class="dropdown-item text-center ps-0 pe-0" th:href="@{./{boardNo}(boardNo=${board.board_no}, sort=good, direct=desc)}">인기순</a>
				        		</th:block>
				        	</th:block>
				        	<th:block th:unless="${session.loginUser?.user_id != null}">
					          	<a class="dropdown-item text-center ps-0 pe-0" th:href="@{./{boardNo}(boardNo=${board.board_no}, sort=good, direct=desc)}">인기순</a>
				        	</th:block>
				        </li>
				        <li>
				        	<th:block th:if="${session.loginUser?.user_id != null}">
				        		<th:block th:if="${param.writer != null && param.writer != ''}">
						          	<a class="dropdown-item text-center ps-0 pe-0" th:href="@{./{boardNo}(boardNo=${board.board_no}, writer=${session.loginUser?.user_id}, sort=post_time, direct=desc)}">최신순</a>
				        		</th:block>
				        		<th:block th:unless="${param.writer != null && param.writer != ''}">
						          	<a class="dropdown-item text-center ps-0 pe-0" th:href="@{./{boardNo}(boardNo=${board.board_no}, sort=post_time, direct=desc)}">최신순</a>
				        		</th:block>
				        	</th:block>
				        	<th:block th:unless="${session.loginUser?.user_id != null}">
					          	<a class="dropdown-item text-center ps-0 pe-0" th:href="@{./{boardNo}(boardNo=${board.board_no}, sort=post_time, direct=desc)}">최신순</a>
				        	</th:block>
				        </li>
				        <li>
				        	<th:block th:if="${session.loginUser?.user_id != null}">
				        		<th:block th:if="${param.writer != null && param.writer != ''}">
						          	<a class="dropdown-item text-center ps-0 pe-0" th:href="@{./{boardNo}(boardNo=${board.board_no}, writer=${session.loginUser?.user_id}, sort=post_time, direct=asc)}">오래된순</a>
				        		</th:block>
				        		<th:block th:unless="${param.writer != null && param.writer != ''}">
						          	<a class="dropdown-item text-center ps-0 pe-0" th:href="@{./{boardNo}(boardNo=${board.board_no}, sort=post_time, direct=asc)}">오래된순</a>
				        		</th:block>
				        	</th:block>
				        	<th:block th:unless="${session.loginUser?.user_id != null}">
					          	<a class="dropdown-item text-center ps-0 pe-0" th:href="@{./{boardNo}(boardNo=${board.board_no}, sort=post_time, direct=asc)}">오래된순</a>
				        	</th:block>
				        </li>
				       </ul>
					 </div>
					</th:block>
				  </div>
				 </div>
				<ul class="list-group mt-3">
			    <th:block th:if="${param.writer != null && param.writer != ''}">
			   	  <th:block th:insert="/board/replyMyList" th:with="replys=${board.replys}" id="replyList"></th:block>
			    </th:block>
			    <th:block th:unless="${param.writer != null && param.writer != ''}">
			   	  <th:block th:insert="/board/replyList" th:with="replys=${board.replys}" id="replyList"></th:block>
			    </th:block>
	<!--///////////////////////////////////// 리플 등록 폼 ///////////////////////////////////////////////////////////////// -->	
				<li class="list-group-item sticky-bottom bg-light"
					th:if="${session.loginUser?.user_id != null}">
					<div class="accordion accordion-without-arrow" id="accordionReplyInsert">
					  <div class="accordion-item">
					    <h2 class="accordion-header" id="headingOne">
					      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
					      		  data-bs-target="#collapseReplyInsert" aria-expanded="true" aria-controls="collapseReplyInsert">
					        댓글 등록
					      </button>
					    </h2>
					    <div id="collapseReplyInsert" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionReplyInsert">
					      <div class="accordion-body pt-3">
							 <form action="/reply/insert.do" method="post" enctype="multipart/form-data" name="replyInsert">
								<table class="table table-bordered table align-middle mb-3" style="height: 100%;">
									<tbody>
										<tr>
											<th class="table-light align-middle">사진</th>
											<td>
												<input name="imgFile" class="form-control form-control-lg" type="file" style="height: 29px;">
											</td>
										</tr>
										<tr>
											<th class="table-light align-middle">내용</th>
											<td>
												<textarea name="contents" class="form-control" id="contents" 
														  onkeyup="noSpace(this);" onchange="noSpace(this);"></textarea>
											</td>	
										</tr>
									</tbody>
								</table>
								<div class="d-flex">
									<div class="ms-auto">
										<button class="btn btn-outline-warning btn-lg" type="reset" style="margin-right: 8px; padding: 12px 12.5px;">초기화</button>
										<button class="btn btn-outline-primary btn-lg" type="submit" style="padding: 12px 20px;">등록</button>
										<input type="hidden" name="board_no" th:value="${board.board_no}">
										<input type="hidden" name="user.user_id" th:value="${session.loginUser?.user_id}">
									</div>
								</div>
							</form>
					      </div>
					    </div>
					  </div>
					</div>						
				  </li>
				</ul>
		      </div>
		    </div>
		  </div>
		</div>
		</th:block>	 
		
		<th:block th:unless="${param.writer != null && param.writer != ''}">
			<div class="accordion accordion-without-arrow" id="accordionFlushExample">
			  <div class="accordion-item">
			    <h2 class="accordion-header " id="flush-headingOne">
			      	<button th:classappend="${(replySize != 0) ? '' : 'collapsed'}" class="accordion-button " type="button" 
		      		    style="background-color: white;" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" 
		      		    aria-expanded="false" aria-controls="flush-collapseOne">	       
			            <span style="font-size: 35px;">전체 댓글 : <strong th:text="${replySize}"></strong></span>
		       	    </button>
			    </h2>
			   	<div id="flush-collapseOne" th:classappend="${(replySize != 0) ? 'show' : ''}" class="accordion-collapse collapse " 
		    	 	 style="max-height: 1200px; overflow-y: scroll;" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
			      <div class="accordion-body pt-3">
			      	<div class="list-group sticky-top">
					 <div class="d-flex list-group-item bg-light">
					    <th:block th:if="${session.loginUser?.user_id != null}">
						    <th:block th:if="${param.writer != null && param.writer != ''}">
						       <a class="btn btn-lg btn-primary" th:href="@{./{boardNo}(boardNo=${board.board_no})}"
						       	  style="padding: 12px 20px;">전체 댓글</a>
						    </th:block>
						    <th:block th:unless="${param.writer != null && param.writer != ''}">
						       <a class="btn btn-lg btn-primary" th:href="@{./{boardNo}(boardNo=${board.board_no}, writer=${session.loginUser?.user_id})}"
						       	  style="padding: 12px 20px;">나의 댓글</a>
						    </th:block>
						</th:block>
						<th:block th:unless="${session.loginUser?.user_id != null}">
						    <a class="btn btn-lg btn-primary" th:href="@{./{boardNo}(boardNo=${board.board_no})}"
						       style="padding: 12px 20px;">전체 댓글</a>
						</th:block>
						<th:block th:if="${replySize != 0}">
						<div class="dropdown-center ms-auto">
						   <button type="button" class="btn btn-lg btn-dark dropdown-toggle" 
						   		   style="padding: 12px 20px;" data-bs-toggle="dropdown" aria-expanded="false">
						     필터
						   </button>
						   <ul class="dropdown-menu">
					        <li>
					        	<th:block th:if="${session.loginUser?.user_id != null}">
					        		<th:block th:if="${param.writer != null && param.writer != ''}">
							          	<a class="dropdown-item text-center ps-0 pe-0" th:href="@{./{boardNo}(boardNo=${board.board_no}, writer=${session.loginUser?.user_id}, sort=good, direct=desc)}">인기순</a>
					        		</th:block>
					        		<th:block th:unless="${param.writer != null && param.writer != ''}">
							          	<a class="dropdown-item text-center ps-0 pe-0" th:href="@{./{boardNo}(boardNo=${board.board_no}, sort=good, direct=desc)}">인기순</a>
					        		</th:block>
					        	</th:block>
					        	<th:block th:unless="${session.loginUser?.user_id != null}">
						          	<a class="dropdown-item text-center ps-0 pe-0" th:href="@{./{boardNo}(boardNo=${board.board_no}, sort=good, direct=desc)}">인기순</a>
					        	</th:block>
					        </li>
					        <li>
					        	<th:block th:if="${session.loginUser?.user_id != null}">
					        		<th:block th:if="${param.writer != null && param.writer != ''}">
							          	<a class="dropdown-item text-center ps-0 pe-0" th:href="@{./{boardNo}(boardNo=${board.board_no}, writer=${session.loginUser?.user_id}, sort=post_time, direct=desc)}">최신순</a>
					        		</th:block>
					        		<th:block th:unless="${param.writer != null && param.writer != ''}">
							          	<a class="dropdown-item text-center ps-0 pe-0" th:href="@{./{boardNo}(boardNo=${board.board_no}, sort=post_time, direct=desc)}">최신순</a>
					        		</th:block>
					        	</th:block>
					        	<th:block th:unless="${session.loginUser?.user_id != null}">
						          	<a class="dropdown-item text-center ps-0 pe-0" th:href="@{./{boardNo}(boardNo=${board.board_no}, sort=post_time, direct=desc)}">최신순</a>
					        	</th:block>
					        </li>
					        <li>
					        	<th:block th:if="${session.loginUser?.user_id != null}">
					        		<th:block th:if="${param.writer != null && param.writer != ''}">
							          	<a class="dropdown-item text-center ps-0 pe-0" th:href="@{./{boardNo}(boardNo=${board.board_no}, writer=${session.loginUser?.user_id}, sort=post_time, direct=asc)}">오래된순</a>
					        		</th:block>
					        		<th:block th:unless="${param.writer != null && param.writer != ''}">
							          	<a class="dropdown-item text-center ps-0 pe-0" th:href="@{./{boardNo}(boardNo=${board.board_no}, sort=post_time, direct=asc)}">오래된순</a>
					        		</th:block>
					        	</th:block>
					        	<th:block th:unless="${session.loginUser?.user_id != null}">
						          	<a class="dropdown-item text-center ps-0 pe-0" th:href="@{./{boardNo}(boardNo=${board.board_no}, sort=post_time, direct=asc)}">오래된순</a>
					        	</th:block>
					        </li>
					       </ul>
						 </div>
					    </th:block>
					  </div>
					 </div>
					<ul class="list-group mt-3">
				    <th:block th:if="${param.writer != null && param.writer != ''}">
				   	  <th:block th:insert="/board/replyMyList" th:with="replys=${board.replys}" id="replyList"></th:block>
				    </th:block>
				    <th:block th:unless="${param.writer != null && param.writer != ''}">
				   	  <th:block th:insert="/board/replyList" th:with="replys=${board.replys}" id="replyList"></th:block>
				    </th:block>
		<!--///////////////////////////////////// 리플 등록 폼 ///////////////////////////////////////////////////////////////// -->	
					<li class="list-group-item sticky-bottom bg-light"
						th:if="${session.loginUser?.user_id != null}">
						<div class="accordion accordion-without-arrow" id="accordionReplyInsert">
						  <div class="accordion-item">
						    <h2 class="accordion-header" id="headingOne">
						      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
						      		  data-bs-target="#collapseReplyInsert" aria-expanded="true" aria-controls="collapseReplyInsert">
						        댓글 등록
						      </button>
						    </h2>
						    <div id="collapseReplyInsert" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionReplyInsert">
						      <div class="accordion-body pt-3">
								 <form action="/reply/insert.do" method="post" enctype="multipart/form-data" name="replyInsert">
									<table class="table table-bordered table align-middle mb-3" style="height: 100%;">
										<tbody>
											<tr>
												<th class="table-light align-middle">사진</th>
												<td>
													<input name="imgFile" class="form-control form-control-lg" type="file" style="height: 29px;">
												</td>
											</tr>
											<tr>
												<th class="table-light align-middle">내용</th>
												<td>
													<textarea name="contents" class="form-control" id="contents" 
															  onkeyup="noSpace(this);" onchange="noSpace(this);"></textarea>
												</td>	
											</tr>
										</tbody>
									</table>
									<div class="d-flex">
										<div class="ms-auto">
											<button class="btn btn-outline-warning btn-lg" type="reset" style="margin-right: 8px; padding: 12px 12.5px;">초기화</button>
											<button class="btn btn-outline-primary btn-lg" type="submit" style="padding: 12px 20px;">등록</button>
											<input type="hidden" name="board_no" th:value="${board.board_no}">
											<input type="hidden" name="user.user_id" th:value="${session.loginUser?.user_id}">
										</div>
									</div>
								</form>
						      </div>
						    </div>
						  </div>
						</div>						
					  </li>
					</ul>
			      </div>
			    </div>
			  </div>
			</div>
		</th:block>
  </main>	
<footer class="footer" th:insert="/NewFooter"></footer> 
</div>
</body>
</html>