<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>후기 작성</title>
<link rel="stylesheet" href="/public/css/board/insert.css">
<script src="/public/js/board/insert.js" defer="defer"></script>
</head>
<body>
<header th:insert="/NewHeader"></header>
<div id="wrapper">
	 <main class="container-xl">
	   <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" id="path">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item">
		    	<a href="/">홈</a>
		    </li>
		    <li class="breadcrumb-item">
		    	<a href="#">게시판</a>
		    </li>
		    <li class="breadcrumb-item" aria-current="page">
		    	<a href="/board/list/1" class="breadcrumb-item active">후기</a>
		    </li>
		  </ol>
		</nav>
	    <h1 class="pb-4 d-flex justify-content-between align-items-center" 
		    style="border-bottom: 1px solid #e8e8e8;">
		    <span style="font-size: 35px;">후기 작성</span>
	    </h1>	
		<form action="/board/insert.do" method="post" enctype="multipart/form-data" name="boardInsertForm">
			<table class="mt-5 mb-5 table align-middle table-bordered">
				<tbody>
					<tr>
						<th class="table-light align-middle">카테고리</th>
						<td>
							<select name="category_id" class="form-select" id="category_id" style="font-size: 11px; border-radius: 2px;">
									<option value="1">관광지</option>
									<option value="2">숙박</option>
									<option value="3">맛집</option>
							</select>
						</td>
					</tr>
					<tr>
						<th class="table-light align-middle">장소명</th>
						<td>
							<input name="place_name" class="form-control" id="place_name" onkeyup="noSpace(this);" onchange="noSpace(this);">
						</td>
					</tr>
					<tr>
						<th class="table-light align-middle">별점</th>
						<td>
							<select name="rating" class="form-select" id="rating" style="font-size: 11px; border-radius: 2px;">
								<option value="0.0">0.0</option>
								<option value="0.5">0.5</option>
								<option value="1.0">1.0</option>
								<option value="1.5">1.5</option>
								<option value="2.0">2.0</option>
								<option value="2.5">2.5</option>
								<option value="3.0">3.0</option>
								<option value="3.5">3.5</option>
								<option value="4.0">4.0</option>
								<option value="4.5">4.5</option>
								<option value="5.0">5.0</option>
							</select>
						</td>
					</tr>
					<tr>
						<th class="table-light align-middle">사진</th>
						<td>
							<input name="imgFile" class="form-control mb-1 form-control-lg" type="file" style="height: 29px;">
							<input name="imgFile" class="form-control mb-1 form-control-lg" type="file" style="height: 29px;">
							<input name="imgFile" class="form-control mb-1 form-control-lg" type="file" style="height: 29px;">
							<input name="imgFile" class="form-control mb-1 form-control-lg" type="file" style="height: 29px;">
							<input name="imgFile" class="form-control mb-1 form-control-lg" type="file" style="height: 29px;">
						</td>
					</tr>
					<tr>
						<th class="table-light align-middle">제목</th>
						<td>
							<input name="title" class="form-control" id="title" 
								   onkeyup="noSpace(this);" onchange="noSpace(this);">
						</td>
					</tr>
					<tr>
						<th class="table-light align-middle">내용</th>
						<td>
							<textarea name="contents" class="form-control" id="contents" 
									  onkeyup="noSpace(this);" onchange="noSpace(this);"></textarea>
						</td>	
					</tr>
				</tbody>
			</table>
			<div class="d-flex">
				<div class="ms-auto">
					<button class="btn btn-outline-warning btn-lg" type="reset" style="margin-right: 8px; padding: 12px 12.5px;">초기화</button>
					<button class="btn btn-outline-primary btn-lg" type="submit" style="margin-right: 8px; padding: 12px 20px;">등록</button>
					<input type="hidden" name="user.user_id" th:value="${session.loginUser.user_id}">
					<a class="btn btn-outline-dark btn-lg" href="/board/list/1" style="padding: 12px 20px;">목록</a>
				</div>
			</div>
		</form>
	  </main>
	<footer class="footer" th:insert="/NewFooter"></footer>
	</div>
</body>
</html>