<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>개인정보 취급방침</title>
<link rel="stylesheet" href="/public/css/user/privacy.css">
</head>
<body>
<header th:insert="/NewHeader"></header>
<div id="wrapper">
	<main class="container-xl">
		<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" id="path">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item">
		    	<a href="/">홈</a>
		    </li>
		    <li class="breadcrumb-item" aria-current="page">
		    	<a href="/user/privacy" class="breadcrumb-item active">개인정보 취급방침</a>
		    </li>
		  </ol>
		</nav>
		<h1 class="pb-4 d-flex justify-content-between align-items-center" 
		    style="border-bottom: 1px solid #e8e8e8;">
		    <span style="font-size: 35px;">개인정보 취급방침</span>
	    </h1>
		<div class="content mt-5">
			<div class="innerBox">
				<div class="category border mb-4">
					<ul class="list">
					 <li>
					 <a href="#sec_1">제1조 (개인정보 수집에 대한 동의 및 수집 방법)</a>
					 </li>
					 <li>
					 <a href="#sec_2">제2조 (개인정보의 수집 항목 및 수집, 이용 목적)</a>
					 </li>
					 <li>
					 <a href="#sec_3">제3조 (개인정보의 제공)</a>
					 </li>
					 <li>
					 <a href="#sec_4">제4조 (개인정보의 보유 이용 기간, 파기 절차 및 파기 방법)</a>
					 </li>
					</ul>
				</div>
				<div class="title" id="sec_1">제1조 (개인정보 수집에 대한 동의 및 수집 방법)</div>
				<div class="txt">
				1. "회원"이라 함은 "에이콘 쇼핑몰"에 개인정보를 제공하여 회원 등록을 한 자로서, "에이콘 쇼핑몰"의 정보를 지속적으로 제공받으며, "에이콘 쇼핑몰"이 제공하는 서비스를 계속적으로 이용할 수 있는 자를 말합니다.
				<p></p>
				2. "비회원"이라 함은 회원에 가입하지 않고 "에이콘 쇼핑몰"이 제공하는 서비스를 이용하는 자를 말합니다.
				<p></p>
				3. 이용자는 온라인으로 회사가 회사의 개인정보 취급 방침에 따라 이용자의 개인정보를 수집함에 대하여 동의 여부를 표시하는 방법으로 동의할 수 있습니다. 이용자가 동의 부분에 표시하면 해당 개인정보 수집에 대해 동의한 것으로 봅니다.
				</div>
				<div class="title" id="sec_2">제2조 (개인정보의 수집 항목 및 수집, 이용 목적)</div>
				<div class="txt">
				1. 회사는 이용자들이 회원 서비스를 이용하기 위해 회원으로 가입하실 때 서비스 제공을 위한 필요최소한의 개인정보를 수집하고 있습니다. 다만, 이용자들에게 보다 양질의 맞춤 서비스를 제공하기 위하여 이용자의 추가적인 개인정보를 선택적으로 입력 받고 있습니다.
				<p></p>
				2. 회사는 이용자의 명시적인 별도 동의 없이 기본적 인권 침해의 우려가 있는 사상, 신념, 노동 조합, 정당의 가입 탈퇴, 정치적 견해, 건강, 성생활, 과거의 병력, 종교, 출신지, 범죄 기록 등 민감한 개인정보는 수집하지 않습니다.
				<p></p>
				3. 이용자는 개인정보의 수집, 이용에 대한 동의를 거부할 수 있습니다. 다만, 필수 정보의 수집 이용에 대한 동의를 거부하는 경우 회원가입이 불가하며, 선택 정보를 기재하지 않음으로써 선택 정보의 수집 이용에 대한 동의를 거부하는 경우 회원가입은 가능하나 선택 정보를 이용한 서비스 이용 및 혜택 제공에 제한을 받을 수 있습니다.
				</div>
				<div class="title" id="sec_3">제3조 (개인정보의 제공)</div>
				<div class="txt">
				1. 회사는 이용자의 동의가 있거나 관련 법령의 규정에 의한 경우를 제외하고는 제 2조에서 고지한 범위를 넘어 이용자의 개인정보를 이용하거나 제 3자에게 제공하지 않습니다.
				<p></p>
				2. 이용자는 제 3자에 대한 개인정보 제공 동의를 거부할 수 있으며, 동의를 거부할 때에는 제 3자 제공에 따른 서비스 이용에 제한을 받을 수 있습니다.
				<p></p>
				3. 회사는 개인정보를 국외의 제 3자에게 제공할 때에는 이용자에게 내용을 알리고 동의를 받습니다.
				</div>
				<div class="title" id="sec_4">제4조 (개인정보의 보유 이용 기간, 파기 절차 및 파기 방법)</div>
				<div class="txt">
				1. 회사는 이용자가 회사에서 제공하는 서비스를 이용하는 동안 이용자들의 개인정보를 보유하며 서비스 제공 등의 목적을 위해 이용합니다. 전산에 등록된 이용자의 개인정보는 개인정보 관리 담당자 및 책임자 또는 이들의 승인을 얻은 자가 아니면 문서로 출력할 수 없습니다.
				<p></p>
				2. 회사는 이용자가 자신의 개인정보를 삭제하거나 회원가입 탈퇴를 요청한 경우 지체 없이 조치를 취하며, 삭제된 정보는 기록을 복구 또는 재생할 수 없는 방법에 의하여 디스크에서 완전히 삭제하며 추후 열람이나 이용이 불가능한 상태로 처리됩니다.
				<p></p>
				3. 회사는 개인정보의 수집 목적 또는 제공 받은 목적이 아래와 같이 파기 사유가 발생한 때에 회사의 내부 파기 절차에 따라 디스크에서 정보를 삭제하고, 출력된 경우에는 분쇄기로 분쇄하는 방법으로 이용자의 개인정보를 지체 없이 파기합니다.
				</div>
			</div>
		</div>
	</main>
<footer class="footer" th:insert="/NewFooter"></footer>
</div>
</body>
</html>