<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div class="module-small bg-dark" style="padding: 25px 0;">
    <div class="container-fluid">
        <div class="row">
        	<div class="col-sm-6">
	            <div class="widget">
	                <h5 class="widget-title font-alt">ABOUT JEJU THE BEST</h5>
	                <ul class="icon-list">
	                    <li class="nav-item mb-2">(63122) 제주특별자치도 제주시 선덕로 23(연동) 제주 웰컴 센터</li>
				        <li class="nav-item mb-2">관광 문의 : 제주 관광 공사</li>
				        <li class="nav-item mb-2">Tel : 064-740-6000~1 | FAX : 064-740-6090 | 사업자 등록 번호 : 616-82-21432</li>
				        <li class="nav-item mb-2">관광 불편 신고 : 제주 안내 120콜센터 (국번 없이 120번)</li>
	                </ul>
	            </div>
            </div>
            <div class="col-sm-6">
                <div class="widget">
                    <h5 class="widget-title font-alt">Policy</h5>
                    <ul class="icon-list">
                        <li class="nav-item"><a href="/user/privacy" target="_blank" class="nav-link px-2">개인정보 처리방침</a></li>
					    <li class="nav-item"><a href="/user/agreement" target="_blank" class="nav-link px-2">이용 약관</a></li>
					    <li class="nav-item"><a href="https://ijto.or.kr/korean/" target="_blank" class="nav-link px-2">제주 관광 문의</a></li>
					    <li class="nav-item"><a href="http://www.visitjeju.or.kr/web/comp/reg.do" target="_blank" class="nav-link px-2">관광 업체 등록 신청</a></li>
					    <li class="nav-item"><a href="/user/emailRejection" target="_blank" class="nav-link px-2">이메일 무단수집 거부</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="divider-d">
<footer class="footer bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <p class="copyright font-alt">&copy; &nbsp;<a href="/">JEJU THE BEST</a> All Rights
                    Reserved</p>
            </div>
            <div class="col-sm-6">
                <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a
                        href="#"><i class="fa fa-twitter"></i></a><a href="#"><i
                            class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
            </div>
        </div>
    </div>
</footer>
<div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</html>